.confirmation-section{
    text-align: left;
    background: rgb(248, 243, 238);
    background: linear-gradient(45deg, rgb(245, 248, 226) 3%, rgb(230, 228, 212) 39%, rgb(241, 250, 236) 80%, rgb(251, 237, 249) 98%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 4px 4px 15px #292729;

}

.marker-on-map{
    background-color: #928f91;
    border-radius: 2px;
}