.appointment-garage{

    text-align: left;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #292929;
    background: rgb(253, 255, 250);
    color: #252524;
    margin:20px;
    padding:20px;
}
.appointment-garage-image{
    height: 160px;
}
.select-garage{
    background: rgb(244, 248, 239);
    background: linear-gradient(45deg, rgb(243, 238, 248) 3%, rgb(230, 230, 223) 39%, rgb(235, 235, 250) 80%, rgb(237, 242, 251) 98%);
}
.button-select-garage{

    background: rgb(43, 40, 41);
    color:white;
    height:50px;
    border-radius: 5px;
    border:none;

}