@import url(http://https://fonts.google.com/specimen/Cairo);


.label-pages{
    color: rgb(38, 0, 33);
    text-shadow: 1px 1px #e2d6ff;
    font-family: 'Cairo',sans-serif;
    font-size: 40px;

}

.label-button{

    font-family: 'Cairo', sans-serif;
    color: rgb(75, 71, 71);
    text-align: left;
}

.ImageSelect:hover{
    background-color: rgb(190, 186, 194);
    box-shadow: 2px  2px 30px 3px #6d686e, 0 2px 10px -5px #8e8e83;
    border-radius: 5px;
     cursor: pointer;
    transition:  background-color 0.5s;
}
.ImageSelect-active {

    cursor: pointer;
    padding-top: 20px;
    margin: 20px;
    height: 190px;
    background-color: rgb(222, 220, 215);
    box-shadow: 5px 10px 10px -5px #a79f98;
    border-radius: 5px;
}
.ImageSelect{
    padding-top: 20px;
    margin: 20px;
    height: 190px;
    background-color: rgb(255, 252, 246);
    box-shadow: 2px  6px 16px 3px #bbb3bd, 2px 2px 5px -5px #8e8e83;
    border-radius:5px;
}
.toggleButtons{
    padding-bottom: 50px;
    box-shadow: 5px  10px 10px -5px #c060ff, 0 -10px 10px -5px #29001e;
    background: rgb(64,1,40);
    background: radial-gradient(circle, rgba(64,1,40,1) 11%, rgba(33,0,16,1) 29%, rgba(59,2,36,1) 41%, rgba(28,0,6,1) 85%);
    border-radius: 30px;
}
