.button-detail{
    color: #4f4f4f;
    border-radius: 2px ;
    background-color: #ccc8cb;
    border-color: transparent;
    margin-bottom: 10px;
    margin-left: 20px;
    width:300px

}
.button-detail:hover{

    background-color: #6d6c6b;
    color: #d9d9d9;
    border-color: transparent;
    transition:  background-color 1s;

}
.button-detail:active{

    box-shadow: 2px 3px 30px #22001b;

}
.OptionList{
     margin-top: 30px;
}