.button-detail{
    color:whitesmoke;
    display: block;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px ;
    background-color: #fac300;

}
.button-detail:hover{

    transition:  background-color 1s;
    box-shadow: 2px 3px 30px #ffd800;

}
.button-detail:active{

    box-shadow: 2px 3px 30px #22001b;

}
.OptionList{
     margin-top: 30px;
}