.appointment-card{
    border-radius: 15px;
    box-shadow: 4px 4px 15px #554f4f;
    background: rgb(255, 250, 241);
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}
.waiting-appointments-container{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 15px #292629;
    background: rgb(192, 190, 192);

}
.img-appointment{
    height:100px;
    width:100px;
    margin-left: 20px;
    margin-top: 10px;
}

.detail-container{
    padding:20px;
    margin-top: 20px;
    height:100%;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #292928;
    background-color: #d8d5d5;

}
.detail-Service{
    color: #1a0007;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 4px 15px #282629;
    margin:30px;
    padding: 30px;
}

.title-appointment{
    color :white;
    height :60px ;
    margin-top: 15px;
    background: rgb(252, 190, 17);
    padding:9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 4px 4px 15px #262924;
}

.nav-appointment{
    margin-left: 0;
}