.buttonWithIcon {
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

.icon {
    padding-right: 10px;
}

.blue {
    margin-top: 30px;
    color: royalblue
}

.green {

    color: mediumspringgreen;
}

.form-container {
    align-content: center;
}

.emptyDiv50px {
    height: 35px;
}