.jumbo {
    position: relative;
    overflow: hidden;
}

.spaceDiv {
    height: 100px;
}

.spaceDiv2 {
    height: 50px;
}

.text {
    color: black
}

.btnText:hover {
    color: rgb(255, 205, 51)
}

.typewriter {
    color: rgb(255, 205, 51);
    font-size: 70px;
    font-weight: 500;
}