.CarState{

    text-align: left;
    margin-right:25px;
    margin-bottom: 20px;
    padding: 15px;
    color: #d8d8cf;
    box-shadow: 4px 5px 10px #d3ced7;
    background-color: #fafdff;
    border-radius: 10px;
    margin-top: 8px ;

}
.clean {
    background: rgb(25,74,11);
    background: linear-gradient(42deg, rgba(25,74,11,1) 6%, rgba(20,89,4,1) 29%, rgba(2,57,1,1) 56%, rgba(14,93,7,1) 77%, rgba(23,111,0,1) 89%);
}

.warning {
    background: rgb(161, 86, 0);
    background: linear-gradient(42deg, rgb(217, 169, 6) 6%, rgb(162, 136, 0) 29%, rgb(109, 65, 0) 56%, rgb(145, 111, 5) 77%, rgb(111, 72, 0) 89%);
}
.urgent {
    background: rgb(161, 2, 0);
    background: linear-gradient(42deg, rgb(74, 0, 10) 6%, rgb(89, 0, 15) 29%, rgb(57, 0, 1) 56%, rgb(93, 0, 13) 77%, rgb(111, 0, 11) 89%);
}