.mileage {
    text-align: left;
    margin-right:25px;
    margin-bottom: 20px;
    padding: 15px;
    background: rgb(129,129,129);
    background: linear-gradient(45deg, rgba(129,129,129,1) 0%, rgba(82,82,82,1) 24%, rgba(66,66,66,1) 24%, rgba(75,75,75,1) 50%, rgba(93,93,93,1) 85%, rgba(56,56,55,1) 85%);
    color: #d8d8cf;
    box-shadow: 4px 5px 10px #d3ced7;
    background-color: #fafdff;
    border-radius: 10px;
    margin-top: 8px ;
}

.mileage-input{
    margin-bottom: 4px;

}