.box-table{
    color: #49002f;
    height: 60px;
    width:60px;
    background: rgb(255, 254, 253);
    border-style: solid;
    border-width: 1px;
    border-color: #f4f1ef;
}
.box-table:hover{
    color: #49002f;
    height: 50px;
    background: rgb(198, 199, 204);
}
.box-appointment-1hour {
    position: relative;
    margin: 2px;
    margin-left: -15px;
    width: 150px;
    height: 10px;
    border-radius: 15px;
    border-color: #fac300;
    background: rgb(15, 187, 242);
    box-shadow: 5px 5px 5px black;
}
.box-appointment-30mn {
    position: absolute;
    margin-top: 2px;
    margin-left: -10px;
    z-index: auto;
    width: 35px;
    height: 10px;
    border-radius: 15px;
    border-color: #fac300;
    background: rgb(73, 0, 44);
    box-shadow: 5px 5px 5px black;
}
.box-appointment-30mn-a30 {
    position: absolute;
     margin-top: 2px;
     margin-left: 30px;
     z-index: auto;
     width: 35px;
     height: 10px;
     border-radius: 15px;
     border-color: #fac300;
     background: rgb(22, 0, 73);
     box-shadow: 5px 5px 5px black;
 }
.box-appointment-content{
    margin-top: -50px;
    margin-left:50px ;
    display:none;
    background: rgb(201, 204, 204);
    border-radius: 15px;
    height: 150px;
    width : 200px;
}
.box-appointment-30mn:hover .box-appointment-content{
    display:block;
    position: absolute;
    z-index: 3;
}

.box-appointment-1hour:active .box-appointment-content{
    display:block;
    position: absolute;
    z-index: 5;

    background: rgb(7, 0, 218);
}

.box-appointment-1hour:hover{
    display:block;
    z-index: 5;

}

/*
.box-table:hover .box-appointment{
    display:block;
    z-index: 1;
    width: 200px;
    margin-left: 0;
    background: rgb(242, 49, 27);
}*/