.row-label{

}

.box-label-table{
    padding-top: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #928f91;
    height: 50px;
    background: rgb(242,242,242);
    background: linear-gradient(80deg, rgba(242,242,242,1) 46%, rgba(231,231,231,1) 84%, rgba(233,233,233,1) 88%);
    color: #290019;


}